@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --FF: 'Space Grotesk', sans-serif;
    --FS: 18px;
    --LIGHTGRAYISHVIOLET: hsl(270, 3%, 87%);
    --DARKGRAYISNGVIOLET: hsl(279, 6%, 55%);
    --VERYDARKVIOLET: hsl(278, 68%, 11%);
}

body{
    font-size: var(--FS);
    font-family: var(--FF);
}

button{
    font-family: inherit;
}