@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --FF: 'Space Grotesk', sans-serif;
    --FS: 18px;
    --LIGHTGRAYISHVIOLET: hsl(270, 3%, 87%);
    --DARKGRAYISHGVIOLET: hsl(279, 6%, 55%);
    --VERYDARKVIOLET: hsl(278, 68%, 11%);
}

body{
    font-size: var(--FS);
    font-family: var(--FF);
}

.card--container{
    background-image: url('./assets/images/bg-main-mobile.png');
    min-width: 100px;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    position: relative;
}

.card--front, .card--back{
    width: 280px;
    height: 155px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.card--front{
    background-image: url('./assets/images/bg-card-front.png');
    bottom: -160px;
    left: -170px;
    z-index: 1;
}

.card--back{
    background-image: url('./assets/images/bg-card-back.png');
    top: -90px;
    left: -110px;
}

.form--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 335px;
}

form > label{
    color: var(--VERYDARKVIOLET);
}

form > input, form > div> input, button{
    font-size: inherit;
    padding: 10px;
    font-family: inherit;
    border: 1px solid var(--LIGHTGRAYISHVIOLET);
    border-radius: 5px;
    cursor: pointer;
}

form > input::placeholder, form > div > input::placeholder{
    color: var(--LIGHTGRAYISHVIOLET);
}

form > input:focus, form > div> input:focus{
    border-color: var(--VERYDARKVIOLET);
    outline-offset: 0px;
    outline: none;
}


button{
    background-color: var(--VERYDARKVIOLET);
    color: var(--LIGHTGRAYISHVIOLET);
    border: 1px solid transparent;
}

.form--lower{
    display: flex;
    gap: 10px;
    
}

.form--month, .form--year{
    width: 70px;
}

.form--cvc{
    width: 100%;
}

